* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-family: "Hurricane", cursive;
  font-weight: 700;
  font-size: 45px;
  width: 100%;
  letter-spacing: 3px;
  text-align: center;
  background-color: #a703a7;
  border-bottom: gold 4px solid;
  padding: 10px;
}

header nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: x-large;
  padding: 20px;
  gap: 25px;
}

header nav a {
  color: inherit;
  text-decoration: none;
  height: 30px;
}

header nav a p {
  cursor: pointer;
  display: inline-block;
  left: 0;
  margin: 0;
}

header nav a p:after {
  content: '';
  display: block;
  border-bottom: 2px solid gold;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

header nav a p:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
}

main {
  width: 100%;
}

main .container {
  width: 100%;
}

main .container .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .card .left {
  width: 60%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 23px 0;
          box-shadow: 0px 0px 23px 0;
}

main .container .card .left img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

main .container .card .left img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

main .container .card .right {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  gap: 20px;
}

main .container .card .right .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

main .container .card .right .btn button {
  border: none;
  font-size: 25px;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #a703a7;
}

main .container .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  color: #fff;
  background-color: #000;
}

footer .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 768px) {
  header {
    width: 100%;
  }
  header nav {
    width: 100%;
    font-size: medium;
  }
  main .container .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  main .container .card .left {
    width: 100%;
    height: 300px;
  }
  main .container .card .left img {
    width: 100%;
  }
  main .container .card .right {
    width: 100%;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container .card .right .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: none;
  }
  main .container .card .right .btn {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  main .container .card .right .btn button {
    border-radius: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */