*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        width: 100%;
        letter-spacing: 2px;
        text-align: center;
        background-color: rgb(167, 3, 167);
        border-bottom: gold 4px solid;
        padding: 10px;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size:x-large;
        padding: 10px;
        gap: 15px;
        a{
            color: inherit;
            text-decoration: none;
            p{
                cursor: pointer;
            }
        }
    }
}