*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$title: 'Hurricane', cursive;

//Desktop 
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-family: $title;
        font-weight: 700;
        font-size: 45px;
        width: 100%;
        letter-spacing: 3px;
        text-align: center;
        background-color: rgb(167, 3, 167);
        border-bottom: gold 4px solid;
        padding: 10px;
    }
    nav{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size:x-large;
        padding: 20px;
        gap: 25px;
        a{
            color: inherit;
            text-decoration: none;
            height: 30px;
            p{
                cursor: pointer;
                display: inline-block;
                left: 0;
                margin: 0;
                &:after{
                    content: '';
                    display: block;
                    border-bottom: 2px solid gold;
                    transition: transform .4s ease-in-out;
                    transform: scaleX(0);
                }
                &:hover:after{
                    transform: scaleX(1);
                    transform-origin: 50%;
                }
            }
        }
    }
}

main{
    width: 100%;
    .container{
        width: 100%;
        .card{
            width: 100%;
            display: flex;
            .left{
                width: 60%;
                overflow: hidden;
                box-shadow: 0px 0px 23px 0;
                img{
                    width: 100%;
                    height: 100%;
                    transition: transform .5s ease;
                    &:hover{
                        transform: scale(1.4);
                    }
                }
            }
            .right{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 40px;
                gap: 20px;
                .info{
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                }
                .btn{
                    button{
                        border: none;
                        font-size: 25px;
                        padding: 15px;
                        border-radius: 15px;
                        cursor: pointer;
                        background-color: rgb(167, 3, 167);
                    }
                }
            }
        }
        .back{
            display: flex;
            flex-direction: row-reverse;
        }
    }
}

footer{
    width: 100%;
    display: flex;
    padding: 20px;
    color: #fff;
    background-color: #000;
    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

//Media Queries 765px

@media all and (max-width: 768px){
    header{
        width: 100%;
        nav{
            width: 100%;
            font-size: medium;
        }
    }

    main{
        .container{
            .card{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                .left{
                    width: 100%;
                    height: 300px;
                    img{
                        width: 100%;
                    }
                }
                .right{
                    width: 100%;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .info{
                        display: flex;
                        flex-direction: row;
                        display: none;
                    }
                    .btn{
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        button{
                            border-radius: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}